@model WebExamApp.Models.Statement

@{
    ViewData["Title"] = "Детали";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Детали</h1>

<div>
    <h4>Информация об оценке студента</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student!.LastName)
            @Html.DisplayFor(model => model.Student!.FirstName)
            @Html.DisplayFor(model => model.Student!.Patronymic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lesson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lesson!.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Evaluation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Evaluation!.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Изменить</a> |
    <a asp-action="Index">Вернуться назад</a>
</div>
