@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
<div class="col-md-7">
<h3>Оценочная ведомость по дисциплине ASP.NET MVC</h3>
 <table class="table-bordered">
<tr><td><p>Id</p></td><td><p>Ф.И.О. студента</p></td><td><p>Название темы</p></td><td><p>Оценка</p></td><td><p>Дата</p></td></tr>
 @foreach (var s in ViewBag.Statement)
{
                <tr><td><p>@s.Id</p></td><td><p>@(s.Student.FirstName + " " + s.Student.Patronymic + " " + s.Student.LastName)</p></td><td><p>@s.Lesson.Name</p></td><td><p>@s.Evaluation.Name</p></td><td><p>@s.Date.ToShortDateString()</p></td></tr>
}
</table>
 <p><a asp-controller="Home" asp-action="CreateStatement" asp->Добавить запись</a></p>
</div>
</div>
